
/* ------ AdminHome ------*/
.homePanelAdmin {
    height: 400px;
    margin: 20px 0px;
    padding: 40px;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(0%, rgba(245,245,245,0.8)), color-stop(20%, rgba(245,245,245,0.8)), color-stop(100%, rgba(171,190,157,0.8)));
    background: -webkit-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: -o-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: -ms-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: linear-gradient(135deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#abbe9d', GradientType=1 );
}

/* ------ Tables ------ */
.table-responsive {
    padding: 20px;
    border-bottom: 2px solid rgb(224, 224, 224);
    font-size: 0.9em;
}
thead {
    text-align: center;
    background-color: rgb(190, 190, 190);
}
a.adminNav-item.nav-link {
    border-bottom: 2px solid rgb(224, 224, 224);
    color: black;
    font-weight: bold;
}
a.adminNav-item.nav-link:hover,
a.adminNav-item.nav-link:active,
a.adminNav-item.nav-link:focus {
    background-color: #86a17399;
}
.changeTextAdmin {
    font-weight: bold;
    color:#445c4e;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px solid rgb(224, 224, 224);
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(0%, rgba(245,245,245,0.8)), color-stop(20%, rgba(245,245,245,0.8)), color-stop(100%, rgba(171,190,157,0.8)));
    background: -webkit-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: -o-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: -ms-linear-gradient(-45deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    background: linear-gradient(135deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.8) 0%, rgba(245,245,245,0.8) 20%, rgba(171,190,157,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#abbe9d', GradientType=1 );
}

/* ------ Add Links ------ */
button.buttonAdd {
    margin-left: 60px;
    margin-top: 40px;
    border: 2px solid #86a17399 ;
    background-color: whitesmoke;}

button.buttonAdd:hover {
    color: black;
    background-color: #86a17399;
    border: 2px solid #86a17399;
}

/* ------ Forms ------ */
.formTitle {
    font-weight: bold;
    color:#445C4E;
    padding-top: 30px;
    padding-left: 40px;
}
.addForm.container-fluid {
    margin: 0px;
    padding: 30px 100px;
}
.addForm.row {
    margin: 0px;
    padding: 0px;
}
.addForm.col-md-12 {
    margin: 0px 0px 20px;
    padding: 20px 60px;
    background-color: #d6d6d683;
    border-radius: 10px;
}