/* We use separate style files for the different components;
In this way, they will be completely independent components
from the rest of the app and reusable in any other project */


/* ---- General Blog and ByCategories ----*/
.blog.container-fluid,
.category.container-fluid {
    margin: 40px 0px 30px;
    padding: 0px;
}
.titleBlog.row,
.blogCard.row,
.blogPagination.row,
.categoryTitle.row {
    margin: 0px;
    padding: 0px;
}
.titleBlog.col-md-12,
.blogCard.col-md-12,
.categoryTitle.col-md-12 {
    margin: 0px;
    padding: 20px 60px;
}

.postCard.card {
    margin-bottom: 50px;
}
.changeFont.card-link {
    font-size: 0.8em;
}
.changeFont.card-link:hover {
    color: #E21745;
}

.titlePost.card-link {
    padding-bottom: 20px;
    font-weight: bold;
}
.titlePost.card-link:hover {
    color: #E21745;
}
.categoryPost {
    color: #28a745;
    font-weight: bold;
}
.authorPost {
    font-weight: bold;
}
.changeText {
    font-weight: bold;
    color:#445C4E;
}


/* ------ AddPost ------ */
.addPost.container-fluid {
    margin: 40px 0px 30px;
    padding: 0px;
}
.addPost.row {
    margin: 0px;
    padding: 0px;
}
.addPost.col-md-1 {
    margin: 0px;
    padding: 0px;
}
.addPost.col-md-10 {
    margin: 0px;
    padding-top: 20px;
}
.addPostTitle {
    padding: 20px 40px 10px;
    border-bottom: 2px solid rgb(224, 224, 224);
}
.titleAddPost {
    font-weight: bold;
    color:#445C4E;
}
.addPostForm {
    margin: 20px 0px;
    padding: 40px 60px 10px;
    background-color: #d6d6d683;
    border-radius: 10px;
}
.form-label {
    font-weight: bold;
}

/* ------ Post ------ */
h2.postTitle {
    font-weight: bold;
    color:#445C4E;
}
.card-body {
    background-color:  #fbfbfbd0;
}
textarea.form-control {
    background-color:  #fbfbfbd0;
}
button.likes.btn.btn-link {
    border-style: none;
}
.btn.btn-link.likes:hover {
    font-size: 1.1em;
    color: red;
    background-color:  transparent;
}

/* ------ CommentCard ------ */
.commentCard.row.mb-2.text-muted {
    margin: 5px;
    border-bottom: 2px solid #28a745;
}
.commentCard.card {
    margin: 10px 10px 20px;
    padding: 5px;
}
.commentCardText {
padding: 10px;
}
.right {
    text-align: right;
}
a.commentsLink.card-link {
    color:  #28a745;
}
a.commentsLink.card-link:hover {
    font-size: 1.1em;;
}

/* ------ ReportsForm ------ */
.formTitle {
    font-weight: bold;
    color:#445C4E;
    padding-top: 30px;
    padding-left: 40px;
}
.reportsForm.container-fluid {
    margin: 0px;
    padding: 30px 100px;
}
.reportsForm.row {
    margin: 0px;
    padding: 0px;
}
.reportsForm.col-md-12 {
    margin: 0px 0px 20px;
    padding: 20px 60px;
    background-color: #d6d6d683;
    border-radius: 10px;
}