
/* We use separate style files for the different components;
In this way, they will be completely independent components
from the rest of the app and reusable in any other project */

footer {
    width: 100%;
    padding: 30px 30px 10px;
    background-color: rgb(50, 60, 50);
    color: white;
}
.centerText {
    text-align: center;
}
.colorText {
    color: #7CA745;
}
a.footerLinks:hover {
    text-decoration: none;
}
.policies.col-md-12 {
    height: 450px;
}