/* We use separate style files for the different components;
In this way, they will be completely independent components
from the rest of the app and reusable in any other project */

header {
    margin: 0px;
    padding: 0;
    background-color: rgb(50, 60, 50);
    color: white;
}
.header.col-md-12 {
    margin: 0;
    padding: 0;
}

/* --------- Title --------- */
.headerTitle > h1 {
    margin: 0px;
    padding: 0px;
}
.headerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    vertical-align: middle;
    background-color: rgb(50,60,50);
    color: white;
}
@media(max-width: 576px) {
    .headerTitle > h1 {
        font-size: 1.4em;
    }
}

/* ------ Header Image ------ */
.headerImage img {
    width: 100%;
    max-width: 100%;
    height: 240px;
    margin: 0px;
    padding: 0px;
}

/* -------- Navbars -------- */
.topNav, .topNav.navbar-nav {
    background-color: rgb(50,60,50);
    color: white;
} 
.bottomNav {
    padding: 8px 16px;
}
.navbar-toggler {
    margin: 4px 2px;
}
.title.decorationItem  {
    padding: 10px;
}
a.nav-item.nav-link {
    padding: 8px;
    text-align:justify;
}
a.nav-item.nav-link:hover {
    background-color: rgba(210, 245, 210, 0.5);
    border-radius: 2px;
}

/* ------ BottomNav ------*/
.bottomNav.mr-auto.navbar-nav > a.nav-link:hover {
    background-color: rgba(210, 245, 210, 0.5);
    border-radius: 2px;
}