
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /* background:red; */
  
  color: black;
}

/* Links Decoration: Type I  */
a.decorationItem {
  color: white;
}
a.decorationItem:link {
  text-decoration: none;
}
a.decorationItem:hover,
a.decorationItem:active {
  color: #28a745;
}
a.card-link {
  color:#424242;
}
a.card-link:hover,
a.card-link:active {
  color: #28a745;
}